
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*:before,

*::after {
  box-sizing: border-box;
}

body{
 background-color: #18222D;
}

/* SECCION DE HEADER Y LINKS */
.header{
    
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;   
}

.item{
    background-color: #263747;
        
}

.item1{
    height: 200px;
}

.avatar{
    position: absolute;
    top: 120px;
}

.item3{   
    height: 54px;
    display: flex;
    object-fit: contain;
    align-items: center;
    gap: 50px;
    margin-left: 200px;
    color: white;
}

img{
    max-width: 100%;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    text-decoration: none;
    position: relative;
    display: flex;
    cursor: pointer;
  }

  .btn {
    position: relative;
    display: flex;
    height: 50px;
    width: 100px;
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #263747;
    z-index: 0;
    cursor: pointer;
    object-fit: contain;
    align-items: center;
    padding: 13px;
  }

  .btn::before {
    content: "";
    position:fixed;
    left: 10px;
    right: 0;
    top: 0;
    margin: auto;
    transition: all 500ms ease;
    z-index: -1;
  }
  
  .btn--3:hover {
    animation: shadow-pulse 500ms 1;
    color: rgb(255, 255, 255);
  }
  
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 rgb(254, 254, 255);
    }
    100% {
      box-shadow: 0 0 20px 5px rgba(104, 34, 45, 0.712);
    }
  }

  /* FIN DE SECCION DE HEADER Y LINKS 
  __________________ */
  /* MAIN */

  .container{
    color: white;
    border: solid #18222D;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    object-fit: contain;
    justify-content:end;
    text-align: center;
    margin-left: 18px;
    margin-right: 44px;
    margin-top: 15px;
    background-color: #0F1923;
  }

  .estadisticas{
    border: solid #0F1923;
    height: 68px;
    width: 150px;
    margin-left: 00px;
  }

  .container2{
    border: solid #18222D;
    display: grid;
    grid-template-columns: auto auto auto auto;
    object-fit: contain;
    justify-content: end;
    margin-top: 10px;
    margin-right: 30px;
    background-color: #0F1923;
  }

  .estadisticas2{
    /* border: solid rgb(143, 114, 250); */
    color: white;
    height: 76px;
    width: 233px;
  }

  .container3{
    display: grid;
    border: solid #18222D;
    height: 157px;
    width: 300px;
    margin-top: 50px; 
    margin-left: 20px;
    grid-template-columns: auto auto;
    background-color: #0F1923;
  }

  .estadisticas3{
    /* border: solid #1B2733; */
    color: white;
  }

  .estad1{
    height: 47px;
  }

  .estad2{
    height: 47px;
  }
  
  .estad3{
    height: 107px;
  }
  .estad4{
    text-align: end;
  }

  .grancontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #1B2733;
    margin-top: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
  }