*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{
    background-color: #18222D;
    font-family: 'Comic Neue', cursive;
  }
  
  /* SECCION DE HEADER Y LINKS */
  
  .chamber-image-container {
    display: block;
    max-width: 100%;
  }
  
  .img-chamber{
    width: -webkit-fill-available;
  }
  
  .astra-image-container {
    position: relative;
  }
  
  .avatar{
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  
  .navbar{
    position: relative;
    background-color: #263747;
    display: flex;
  }
  
  .img-cyper{
    width: -webkit-fill-available;
  }
  
  .navbar-container {
    position: relative;
  }
  
  .navbar{ 
    margin-top: -6px;  
    height: 54px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 200px;
    color: white;
  }
  
  a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .links {
    text-decoration: none;
    position: relative;
    display: flex;
    cursor: pointer;
  }
  
  .btn {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    transition: all 500ms ease;
    z-index: 0;
    cursor: pointer;
    padding: 13px;
  }
  
  
  .btn--3:hover, .active {
    animation: shadow-pulse 500ms 1;
    color: rgb(255, 255, 255);
    background-color: #FF4655;
  }
  
  @keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(254, 254, 255);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(104, 34, 45, 0.712);
  }
  }

  .Navbar {
    background-color: rgb(38 55 71);
    display: flex;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    display: none;
  }

  .Navbar__Items {
      display: flex;
  }

  .Navbar__Link {
    padding-right: 8px;
  }

  .Navbar__Items--right {
      margin-left: auto;
  }

  .Navbar__Link-toggle {
    display: none;
  }
  
  .boton{
    text-decoration: none;
    cursor: pointer;
    color: white;
  }


  @media (max-width: 768px) {
      .Navbar, .Navbar__Items {
          flex-direction: column;
          padding-bottom: 30px;
      }

      .Navbar__Items {
          display: none;
      }

      .Navbar__Items--right {
          margin-left: 0;
      }

      .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
      }

      .Navbar__ToggleShow{
        display: flex;
        align-self: center;
        gap: 32px;
        padding-bottom: 0px;
    }
    .btn{
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 2px solid #263747;
  }

  }
  