.profile-stats{
  color: white;
  border: solid #18222D;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  object-fit: contain;
  text-align: center;
  margin-left: 18px;
  margin-top: 15px;
  max-width: fit-content;
  background-color: #0F1923;
  border-radius: 6px;
}

.estadisticas{
  border: solid #0F1923;
  height: 68px;
  width: 150px;
  margin-left: 00px;
  border-radius: 6px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.stat-tittle{
  font-weight: bold;
}

.estadisticas:hover {
  background-color: rgba(61, 77, 97, 0.5);
}

.kda{
  border: solid #18222D;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  object-fit: contain;
  margin-top: 10px;
  background-color: #0F1923;
  border-radius: 6px;
  max-width: fit-content;
}

.kda-and-stats{
  margin: auto;
}

.kda-text{
  color: white;
  height: 76px;
  width: 233px;
  border-radius: 6px;
  display: grid;
  align-items: center;
  justify-content: center;

}

.kda-text:hover {
  background-color: rgba(61, 77, 97, 0.5);
}

.accuracy{
  border: solid #18222D;
  height: 157px;
  width: 300px;
  margin-top: 50px; 
  margin-left: 20px;
  background-color: #0F1923;
  border-radius: 6px;
}

.accuracy-text{
  color: white;
}

.accuracy-and-stats{
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.distribution-shot{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-left: 20px;
  padding-right: 10px;
}

.distribution-shot-content{
  display: block;   
  color: white;
  margin-top: 10px;
}

.accuracy-titles{
  display: flex;
  justify-content: space-around;
  margin-top: 13px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 22px;
  align-items: center;
}

.second-title{
  font-size: 16px;
  color: grey;
}

.body-parts .distribution-shot-content{
  color: grey;
}

.body-img-container{
  padding-left: 10px;
}

.distribution-shot-content-active{
  color: #16e5b4;
}

.hit-percentage .distribution-shot-content{
  font-weight: bold;
}

.hits .distribution-shot-content{
  font-weight: bold;
  text-align: right;
}

.hits .distribution-shot-content .distribution-shot-content-text{
  font-weight: normal;
  color: grey;
}

.icon-accuracy{
  fill: #bfbdb6;
  width: 32px;
  height: 32px;
}

.rank-status{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70px;
  margin-top: 35px;
  background-color: #1B2733;
  width: 50%;
  color: white;
}

.rank-current{
  display: flex;
  justify-content: space-evenly;
  border: solid #18222D;
}

.rank-previous{
  display: flex;
  justify-content: space-evenly;
  border: solid #18222D;
}

.rank-img{
  margin-top: 8px;
  display: flex;
}

.rating-rank{
  margin-top: 10px;
}

.text-rank{
  display: block;
  font-size: small;
  margin-top: 5px;
  color: gray;
}
.text-rating{
  font-weight: bold;  
}

@media (max-width: 400px)  {
  .img-chamber {
    height: 20vh;
    object-fit: cover;
  }

  .avatar {
    top: -60px;
    height: 100px;
  }

  .rank-status {
    height: auto;
    width: 80vw;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
  .rank-current, .rank-previous {
    padding: 8px 20px;
    background-color: #1B2733;
  }

  .accuracy-and-stats, .kda {
    display: flex;
    flex-direction: column;
  }

  .accuracy-and-stats {
    margin-top: auto;
  }

  .kda, .profile-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    text-align: center;
  }

  .accuracy {
    max-width: 100vw;
    margin: auto;
  }
}

@media (max-width: 678px)  {
  /* Desde aca haces la navegacion */
  .navbar {
    display: none;
  }
}

@media only screen and (max-width: 678px) and (min-width: 400px)  {
  .img-chamber {
    height: 19vh;
    object-fit: cover;
  }

  .avatar {
    top: -60px;
    height: 100px;
  }

  .rank-status{
    display: grid;
    width: 100%;
  }

  .accuracy{
    margin: auto;
  }

  .accuracy-and-stats { 
   display: grid;
   grid-template-columns: none;
  }

  .kda{
    grid-template-columns: repeat(1, 1fr);
    margin: auto; 
  }

  .profile-stats{
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
  }
  
}

@media only screen and (max-width: 900px) and (min-width: 678px)  {
  .navbar{
    gap: 33px;
  }

  .img-chamber {
    height: 26vh;
    object-fit: cover;
  }

  .avatar {
    top: -60px;
    height: 100px;
  }

  .accuracy-and-stats { 
    display:block;
  }

  .kda{
    grid-template-columns: repeat(2, 1fr);
    margin: auto; 
  }

  .profile-stats{
    grid-template-columns: repeat(4, 1fr);
    margin:auto;
  }

  .accuracy{
    margin: auto;
  }

  .rank-status {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 900px)  {

  .accuracy-and-stats { 
    grid-template-columns: none;
  }

  .rank-status {
    width: 100%;
  }

  .accuracy{
    margin: auto;
    width: 50%;
  }
  .profile-stats{
    margin: auto;
  }
  .kda{
    margin: auto;
  }
  .kda-text{
    width: 220px;
  }
  .estadisticas{
    width: 147px;
  }
  footer{
    position: absolute;
    width: 100%;
    bottom: 0;
  }
 }
@media only screen and (max-width: 1366px) and (min-width: 1200px)  {
  .estadisticas{
    width: 143px;
  }

  .kda-text{
    width: 223px;
  }

  .accuracy{
    width: 286px;
  }
}
